<!--Home page -->

<div class="homePage">
  <div class="header">
    <img src="styles/images/champazon/header2.jpg" alt="">
  </div>
  <div class="homeContent">
    <p><h1>Top Selling Products</h1></p>
    <img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Snowboards</h1><a href="#/user/listView"><h2>See more</h2></a></p>
    <img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Surfboards</h1><a href=""><h2>See more</h2></a></p>
    <img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Skis</h1><a href=""><h2>See more</h2></a></p>
    <img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt=""><img src="styles/images/snowboards/burotn/blunt1.jpg" alt="">
  </div>
</div>
