<!--Admin View - Edit-->

<div class="arrowBack">
  <a href="#/admin/listView"><i class="fa fa-arrow-left"></i>Back to Admin</a>
</div>

<div class="itemForm">
  <h3>Edit item</h3>
  <form ng-submit="adminCtrl.editItem(adminCtrl.singleItem)">
    <p><input type="text" ng-model="adminCtrl.singleItem.image" value="adminCtrl.singleItem.image"></p>
    <p><input type="text" ng-model="adminCtrl.singleItem.itemName" value="adminCtrl.singleItem.itemName"></p>
    <p><input type="text" ng-model="adminCtrl.singleItem.price" value="adminCtrl.singleItem.price"></p>
    <p><textarea type="text" ng-model="adminCtrl.singleItem.itemDescription" value="adminCtrl.singleItem.itemDescription"></textarea></p>
    <p><button type="submit">Update Item</button></p>
  </form>
</div>
