<!--Home page -->

<div class="homePage">
  <div class="header">
    <img src="assets/styles/images/champazon/header2.jpg" alt="">
  </div>
  <div class="homeContent">
    <p><h1>Top Selling Products</h1></p>
    <img src="assets/styles/images/snowboards/k2/www.jpg" alt=""><img src="assets/styles/images/snowboards/k2/turbodream.jpg" alt=""><img src="assets/styles/images/snowboards/libtech/fundamental.jpg" alt=""><img src="assets/styles/images/snowboards/burton/blunt1.jpg" alt=""><img src="assets/styles/images/snowboards/libtech/birdman.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Ride Boards</h1><a href="/product/prod1/listView"><h2>See more</h2></a></p>
    <img src="assets/styles/images/snowboards/ride/hellcat.jpg" alt=""><img src="assets/styles/images/snowboards/ride/lilbuck.jpg" alt=""><img src="assets/styles/images/snowboards/ride/hellcat.jpg" alt=""><img src="assets/styles/images/snowboards/ride/lilbuck.jpg" alt=""><img src="assets/styles/images/snowboards/ride/hellcat.jpg" alt="">
    <hr>
    <p><h1>Shop the latest Burton Boards</h1><a href="/product/prod2/listView"><h2>See more</h2></a></p>
    <img src="assets/styles/images/snowboards/burton/blunt1.jpg" alt=""><img src="assets/styles/images/snowboards/burton/blunt2.jpg" alt=""><img src="assets/styles/images/snowboards/burton/blunt1.jpg" alt=""><img src="assets/styles/images/snowboards/burton/blunt2.jpg" alt=""><img src="assets/styles/images/snowboards/burton/blunt1.jpg" alt="">
    <hr>
    <p><h1>Shop the latest LibTech Boards</h1><a href="/product/prod3/listView"><h2>See more</h2></a></p>
    <img src="assets/styles/images/snowboards/libtech/birdman.jpg" alt=""><img src="assets/styles/images/snowboards/libtech/fundamental.jpg" alt=""><img src="assets/styles/images/snowboards/libtech/birdman.jpg" alt=""><img src="assets/styles/images/snowboards/libtech/fundamental.jpg" alt=""><img src="assets/styles/images/snowboards/libtech/birdman.jpg" alt="">
  </div>
</div>
