<!--User View - List All-->

<div class="listContainer">
  <ul>
    <li class = "product" ng-repeat="product in mainCtrl.products">
      <img ng-src="{{product.image}}" height='250' alt=""/>
      <div class="productInfo">
      <p>Brand: {{product.productName}}</p>
      <p>Price: {{product.price | currency}}</p>
        <div class="buttons2">
          <p><a href="#/product/detail/{{product._id}}">More Details</a></p>
          <p><a href="#/user/cart/" ng-click="mainCtrl.addToCart(product)">Add to Cart</a></p>
        </div>
      </div>
    </li>
  </ul>
</div>
